@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.container p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.3px;
	margin: 20px 0;
}

.container span {
	font-size: 12px;
}

.container a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0 10px;
}

.container button {
	background-color: var(--primary-color);
	color: #fff;
	font-size: 12px;
	padding: 10px 45px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}

.container button.hidden {
	background-color: transparent;
	border-color: #fff;
}

.container form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}

.container .input {
	background-color: #eeeeee60;
	border: none;
	margin: 8px 0;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
	outline: none;
}

.form-container {
	position: absolute;
	top: 0;
	margin-top: auto;
	height: 100%;
	padding: 0 2rem;
	transition: all 0.6s ease-in-out;
}

@media (max-width: 700px) {
	.form-container {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1024px) {
	.form-container {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (max-width: 500px) {
	.toggle-container {
		display: none;
	}

	.sign-in,
	.sign-up {
		width: 100%;
	}
}

@media screen and (min-width: 500px) {
	.sign-in,
	.sign-up {
		width: 50%;
	}
}
.sign-in {
	left: 0;
	z-index: 2;
}

.signup-text {
	padding-top: 20px;
}

.sign-up,
right {
	right: 0;
	opacity: 0;
	z-index: 1;
}

.container.active .sign-up {
	opacity: 1;
	z-index: 5;
}

.social-icons {
	margin: 20px 0;
}

.social-icons a {
	border: 1px solid #ccc;
	border-radius: 20%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 3px;
	width: 40px;
	height: 40px;
}

.toggle-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	border-radius: 150px 0 0 100px;
	z-index: 1000;
}

.container.active .toggle-container {
	border-radius: 0 150px 100px 0;
}

.toggle {
	background-color: var(--primary-color);
	height: 100%;
	background: linear-gradient(to right, #16593ac2, #10a37f);
	color: #fff;
	position: relative;
	left: -100%;
	width: 200%;
	transform: translateX(0);
}

.container.active .toggle {
	transform: translateX(50%);
}

.toggle-panel {
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	top: 0;
}

.toggle-right {
	right: 0;
}

.toggle-left {
	left: 0;
}

.sign-up {
	right: 0;
}

.error {
	color: #cd0000;
	align-items: baseline;
	margin-block: 10px;
}

.reset-stepper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Login */
.login {
	background-color: #f8f8f8;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.login__container {
	padding: 40px;
	margin: 10px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.login__container > img {
	-o-object-fit: contain;
	object-fit: contain;
	height: 100px;
	margin-bottom: 40px;
}
.login__container button {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1rem;
	text-transform: inherit !important;
	background-color: var(--primary-color) !important;
	display: block;
	width: 100%;
	color: white;
}

.login__container a {
	text-decoration: none;
	margin-top: 20px;
}

.login_text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2rem;
}

.login__container .input {
	margin-bottom: 1rem;
}

.login__container form {
	margin-top: 2rem;
}

.CustomTextField-root {
	& .MuiOutlinedInput-root {
		border: 1px solid #e6e6e6;
		outline: none;

		&:hover {
			border: 1px solid rgb(231, 231, 231);
		}

		&.Mui-focused {
			border: 1px solid var(--primary-color);
		}

		& .MuiOutlinedInput-notchedOutline {
			border: none; /* Remove default border */
		}

		margin-bottom: 20px;

		& .MuiInputBase-input::placeholder {
			font-weight: bold;
			color: black;
		}
	}
}
