element {
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 10px 11px -3px #0000001a, 0 -3px 10px -3px #0000001a;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	--primary-color: #10a37f;
	--primary-rgb: rgb(16, 163, 127);
	--secondary-color: #0077b5;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
